@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.blue { color: #333399 !important; }
/* Hiding Scroll Bar */
html { overflow: scroll; overflow-x: hidden; }
::-webkit-scrollbar { width: 0px;  /* remove scrollbar space */ background: transparent;  /* optional: just make scrollbar invisible */ }
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb { background: #FF0000; }

body { font-family: 'Open Sans', sans-serif; }
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../imgs/loader.gif") no-repeat center center;
}
.display_msg {
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    background: #ececec;
    padding: 20px;
    border: 4px #eb5302 solid;
    z-index: 9999;
    display: none;
}
.closeAlert .material-icons {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    background: #eb5302;
    cursor: pointer;
}

.closeAlert .material-icons:hover {
    color: #252525;
}
.iconBg { background: rgba(0,0,0,0.3); width: 60px; height: 60px; border-radius: 50%; }
.carousel-control-next-icon, .carousel-control-prev-icon { top: 50%; position: relative; left: 16%; transform: translate(-50%, -50%); }
#blogCarousel .carousel-control-next, #blogCarousel .carousel-control-prev { width: auto; }

header .navbar { background: #fff; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.30); z-index: 999; position: relative; }
.navbar-brand { position: absolute; }
.navbar-brand img { margin-top: 65px; }
.nav-item { font-size: 16px; margin-left: 0.7rem; margin-right: 0.7rem; }
.navbar-light .navbar-nav .nav-link { color: rgba(54,54,54,.7); }
.navbar-expand-lg .navbar-nav .nav-link { padding-left: 0.5rem; padding-right: 0.5rem; font-weight: 500; position: relative; }
.navbar-expand-lg .navbar-nav .nav-link:after { height: 1px; width: 0%; position: absolute; bottom: 2px; left: 50%; content: ""; background:#e06b15; transition: all ease 0.3s; transform: translate(-50%, 0%); } 
.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.active { color: #e06b15; }
.navbar-expand-lg .navbar-nav .nav-link:hover:after, .navbar-expand-lg .navbar-nav .nav-link.active:after { width: 50%; transition: all ease 0.3s; }
.navbar { padding: 1.6rem 1rem; }






section { height: 100vh; min-height: 350px; padding: 30px; display: table; width: 100%; }
section h1 { background: url("../imgs/bg4Header.png") no-repeat center ; min-height: 99px; line-height: 99px; padding-left: 32px; display: table; margin: 16px auto 0; font-size: 40px; color: #000; }
section#counter img { margin: 0 auto; display: table; }
section#Landing { padding: 0; }
section#AboutUs, section#Products, section#Services, section#team, section#blogs, section#reachUs { padding: 0; margin-top: 10px; padding-top: 130px; }
section#Products, section#team { background:#f0f0f0; }
section#AboutUs .row, section#AboutMe .row { margin: 0 auto; }
section#AboutUs .row, section#AboutUs .row > div:first-child, section#AboutMe .row, section#AboutMe .row > div:first-child { height: 100%; }
/*section#AboutUs .row > div:first-child { background-image: url("../imgs/About-Us.jpg"); background-size: cover; position: relative; }
section#AboutUs .row > div:first-child:after { background: #333399; width: 40px; height: 130px; position: absolute; right: 0; top: 18%; content: ""; }
*/

.rawFoods { min-height: 330px; background: url("../imgs/rawFoods.jpg") no-repeat center; display: block; background-size: cover; position: relative; cursor: pointer; }
.rawFoods h6 { color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; font-size: 40px; font-weight: 300; }
.rawFoods:after { position: absolute; content: ""; background: rgba(0,0,0,.7); left: 0; top: 0; width: 100%; height: 100%; z-index: 99; transition: ease all 0.3s; }
.rawFoods:hover:after { background: rgba(0,0,0,.6); transition: ease all 0.3s; }
.rawFoods:before { position: absolute; content: ""; border: 1px solid rgba(255,255,255,0.5); left: 50%; top: 50%; transform: translate(-50%, -50%); width: calc(100% - 40px); height: calc(100% - 40px); z-index: 100; }
.rawFoods:hover:before { border: 1px solid rgba(255,255,255,1); transition: ease all 0.3s; }
.CookingEssentials { background: url("../imgs/CookingEssentials.jpg") no-repeat center;  background-size: cover; }

.services { min-height: 220px; position: relative; overflow: hidden; }
.services:after { position: absolute; content: ""; background: rgba(0,0,0,.7); left: 0; top: 0; width: 100%; height: 100%; z-index: 99; transition: ease all 0.3s; }
.requestSample { background: url("../imgs/requestSample.jpg") no-repeat right; }
.easyOrdering { background: url("../imgs/easeOrder.jpg") no-repeat right; }
.gDelivery { background: url("../imgs/Deliver.jpg") no-repeat right; }
.tourFarms { background: url("../imgs/tourFarm.jpg") no-repeat right; }
.sInfo { width: 45%; height: 160%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; background: #000; position: absolute; top: 50%; left: 0; z-index: 100; overflow-y: hidden; transform: translateY(-50%); }
.requestSample .sInfo { background: #fb7d20; }
.easyOrdering .sInfo { background: #6cab36; }
.gDelivery .sInfo { background: #57b5bb; }
.tourFarms .sInfo { background: #d1c32b; }
.sRow > div { margin-bottom: 48px; }
.sInfo img { margin: 36% 0 0 20px; }
.sInfo h6 { font-size: 26px; margin:32px 0 0 20px; color: #fff; font-weight: normal; }


.tMember > div > div { width: 140px; height: 140px; overflow:hidden; border: 1px solid #fff; border-radius: 50%; box-shadow: 3px 3px 5px rgba(0,0,0,0.3); display: table; margin: 0 auto;   }
.tMember > div:hover > div img { transition: all ease 0.3s; transform: scale(1.1); }
.tMember h6 { text-align: center; margin-top: 18px; font-size: 16px; }
.tMember p { text-align: center; margin-top: 8px; font-size: 16px; color: #6c6c6c; }
.tMember img { width: 100%; height: auto; transition: all ease 0.3s; }

.blogWrap { background: #fff; height: 100%; margin: 0 36px; display: block; text-decoration: none; }
.blogWrap:hover { text-decoration: none; }
.blogWrap img { width: 100%; height: auto; }
.blogWrap h5 { margin: 20px 20px 12px; color: #000; font-size: 24px; }
.blogWrap p { margin: 12px 20px; color: #000; font-size: 16px; line-height: 24px; font-weight: normal; }
.blogWrap p i { color: #999; }
#blogCarousel .carousel-indicators { bottom: -72px; }
#blogCarousel .carousel-indicators li { height: 12px; width: 12px; border-radius: 50%; }

.cdetails p { font-weight: normal; }
.cdetails h6 { font-size: 24px; font-weight: normal; margin-bottom: 12px; }
.contactNo { background: url("../imgs/contactBg.png") no-repeat left center; min-width: 220px; height: 46px; line-height: 46px; color: #fff; padding-left: 58px; font-weight: normal; }
.whatsapp { background: url("../imgs/whatsappBg.png") no-repeat left center; min-width: 271px; height: 50px; line-height: 50px; color: #fff; padding-left: 58px; font-weight: normal; }
.map { border: #e1e1e1 1px solid; }

.features h4{font-size: 24px;}
section#AboutUs .features img { height: 57px; width: auto; margin: 0 auto; display: table; }
.features h5 {font-size: 24px; text-align: center; color: #000; margin-top: 26px; }
p {font-size: 16px; font-weight: 300; }
.features p { text-align: center; }
.features .row > div > div { padding-left: 24px; padding-right: 24px; }
section#AboutUs .row > div:last-child p { line-height: 28px; font-size: 16px; letter-spacing: -0.2px; margin: 28px 0; color: #000; font-weight: normal; }
.btn-primary { background: #333399; border: 1px solid #333399; border-radius: 4px; padding: 5px 20px; font-size: 16px; }
.btn-primary:hover, a.btn-primary:focus { background: #005568; border: 1px solid #01272f; }
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle { background: #005568; border: 1px solid #01272f; }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus { box-shadow: 0 0 0 0.2rem rgba(0,80,104,.2); }
a.btn-center{margin: 0 auto; display: table; }

.container { max-width: 1600px; margin-top: 60px; }

footer { border-top: 3px solid #fb7d20; background: #fff; }
footer .container { margin: 28px auto; }
footer ul { margin-left: 24px; }
footer ul li { list-style: none; margin: 10px 0; font-size: 16px; }
footer ul li a { color: #000; text-decoration: none; }
footer p { margin-top: 10px; }
footer .copyright { background: #e9e8e8; padding: 12px; }
footer .copyright p { font-size: 16px; text-align: center; margin-bottom: 0; margin-top: 0; }
.totop { position: fixed; bottom: 10px; right: 20px; z-index: 999; }
.totop a { width: 40px; height: 40px; border-radius: 50%; text-align: center; background: #fb7d20; display: block; padding-top: 8px; color: #fff; transition: all ease 0.3s; }
.totop a:hover { background: #b1b1b1; transition: all ease 0.3s; }
.cmodal { position: relative; }
.block { width:100%; height:200px; }
.modal-backdrop { display: none; }
.modal-dialog { max-width: 100%; margin: 0; height: 100%; display: flex; }
.fixed-top { z-index: 9999; }
.modal { -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); z-index: 9999; }
.modal-content { background: #fff; border-radius:0; padding: 5% 10%; display: table; }
.modal-header { border-bottom:1px solid #eee; display: block; }
.modal-header .close { opacity: 1; color: #666; font-weight: normal; font-size: 34px; line-height: 60px; margin-right: -0.5rem; position: fixed; top: 50px; right: 50px; }
.modal-header img { margin: 0 auto; display: table; }
.modal-title { margin-bottom: 0; color: #e06b15; text-align: left; width: 100%; }
.modal-content p:first-child { margin-top: 0; }
.modal-content p { color: #000; font-size: 16px; line-height: 24px; letter-spacing: -0.2px; padding: 6px 16px; margin: 0 0 24px 0; background: #eee; text-align: center; font-weight: bold; }
.modal-content p b { font-weight: bold; }
.modal-content ul { color: #000; font-size: 20px; line-height: 26px; letter-spacing: -0.2px; font-weight: 500; margin: 0; padding: 0; display: table; width: 100% }
.modal-content ul li { margin: 10px 0; list-style: none; padding: 0 16px; }
.modal-content ul li img { width: 100%; height: auto; border: 1px solid #eee; }

body.modal-open { overflow-y: hidden; }

.s-none { height: 0px; padding: 0; min-height: 0; }



#blogs {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-image: url("../imgs/blog.jpg");
}

#MainCarousel .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#MainCarousel .carousel-item:first-child { background-image: url("../imgs/Slide1.jpg"); }
#MainCarousel .carousel-item:nth-child(2) { background-image: url("../imgs/Slide2.jpg"); }
#MainCarousel .carousel-item:nth-child(3) { background-image: url("../imgs/Slide3.jpg"); }
#MainCarousel .carousel-item:nth-child(4) { background-image: url("../imgs/Slide4.jpg"); }
#MainCarousel .carousel-caption { background: rgba(0,0,0,0.8); color: rgba(255,255,255, 0.9); max-width: 768px; padding:25px 30px 5px; text-align: left; right: auto; left: 2%; bottom: 4%; }
#MainCarousel .carousel-caption h2 { font-size: 34px; margin-bottom: 1rem; }
#MainCarousel .carousel-caption p { font-size: 18px; padding: 0 40px 0 0px; line-height: 26px; font-weight: normal; }
#MainCarousel .carousel-indicators { margin: 0; right: 3%; left: auto; bottom: 3%; }

/* Form Control */
section#Sales form h1 { margin-top: 0; margin-bottom: 30px; font-size: 26px; position: relative; padding: 8px 0; }
section#Sales form { padding: 30px 36px 20px; margin: 0 auto 0; display: table; }
.form-group {
  position: relative;
  margin-bottom: 1.8rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 0.6; padding-left: 0;
}

.form-control:focus { border: 1px solid #333399; box-shadow:none; }

@media only screen and (max-width: 1250px) { 
	section#AboutUs .row > div:last-child, section#AboutMe .row > div:last-child { padding-left: 25px; font-size: 15px; }
}
@media only screen and (max-width: 767px) { 
	section#AboutUs .row > div:last-child h1 { margin-top: 12%; }
	.navbar-brand { margin-left: 0px; }
}
@media (max-width: 900px) {
	
}
@media (min-width: 992px) { 
header .navbar .collapse.navbar-collapse { float: right; display: table !important; }
header .navbar .collapse.navbar-collapse .navbar-nav { float: right; }

}
@media (max-width: 992px) { 
.nav-item { border-bottom: 1px solid #ddd; }
.nav-item:last-child { border-bottom: none; }
.navbar-collapse { margin-top: 43px; z-index: 999; border: 1px solid #eee; }	
.navbar-expand-lg .navbar-nav .nav-link:after { display: none; }
.modal-content { padding: 5%; }
.navbar-toggler { position: absolute; right: 16px; top: 16px; }
.navbar { height: 70px; }
.navbar-nav { background: #fff; }
	.sm-none { display: none; }
	.navbar-brand img { margin-top: 50px; width: 164px; height: auto; }
	body { overflow-x: hidden; }
	.fixed-top { position: static !important; }
}
@media only screen and (max-width: 768px) {
	.carousel-caption { width: 90%; }
}
@media (max-width: 600px) {
	.modal-header .close { top: 16px; right: 10px; }
	.modal-header .close img { width: 30px; height: auto; }
	.modal-content { display: table; height: 100%; }
}
@media (max-width: 575px) {
	footer ul { display: table; margin: 16px auto; text-align: center; }
	footer p { text-align: center; }
	footer a img { display: table; margin: 0 auto; }
	.sInfo { width: 100%; height: 100%; border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: hidden;
    transform: translateY(-0%);
}
	.sInfo img {
    margin: 10% auto 20px;
    display: table;
}
	.sInfo h6 { text-align: center; }
	.requestSample .sInfo { background: rgb(251, 125, 32, 0.6); }
	.easyOrdering .sInfo { background: rgb(108, 171, 54, 0.6); }
	.gDelivery .sInfo { background: rgb(87, 181, 187, 0.6); }
	.tourFarms .sInfo { background: rgb(209, 195, 43, 0.6); }
}